@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,900&display=swap");

:root {
  /* LIGHT PALLETE */
  --light-background: #f2f2f2;
  --light-primary-color: #6a1b9a;
  --light-secondary-color: #00bcd4;
  --light-text-color: #263238;
  --light-text-title: #272626;
  
  /* DARK PALLETE  */
  -light-primary-deep-color: #330c4b;
  --dark-background: #0d0114;
  --dark-text-color: #f5f5f5;
  --light-text-title: #dad9d9;

  /* OTHER STYLES  */
  --blue-color: #5050e7;
  --yellow-color: #dff707;  
  --main-font: "Nunito Sans", sans-serif;
  --logo-font: "Nunito Sans", sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--main-font);
  font-size: 1.4rem;
  line-height: 1.4;
  scroll-behavior: smooth;
  @media (min-width: 768px) {
    font-size: 1.6rem;
    line-height: 1.8;
  }
}
h1,
h2,
h3 {
  font-weight: 900;
  margin: 2rem 0;
}
h1 {
  font-size: 2rem;
  font-family: var(--logo-font);
  font-weight: bold;
}
h2 {
  font-size: 2.3rem;
  @media (min-width: 768px) {
    font-size: 4.6rem;
  }
}
h3 {
  font-size: 2rem;
  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}
h4 {
  font-size: 1.8rem;
  font-weight: bold;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
ul {
  list-style: none;
}

/* //*GLOBAL UTILITIES */
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}
.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}
.justify-btw {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}
.justify-evn {
  justify-content: space-evenly;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.align-top {
  align-items: flex-start;
}
.text-center {
  text-align: center;
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
.m-0-auto {
  margin: 0 auto;
}

.text-justify {
  text-align: justify;
}
.wdt-100 {
  width: 100%;
}
.hgt-100 {
  height: 100%;
}
.ovf-hidden {
  overflow: hidden;
}
.fst-italic {
  font-style: italic;
}
.obj-fit-cover {
  object-fit: cover;
}

/* SPECIFIC UTULITIES */
.flx-reverse {
  flex-direction: row-reverse;
}
.justify-arnd {
  justify-content: space-around;
}
.font-bold {
  font-weight: bold;
}


.text-start{
  text-align: start;
}

/* NAVBAR */
@media (max-width: 768px) {
  .scaled1 {
    transform: scaleX(1);
  }
  .scaled0 {
    transform: scaleX(0);
  }
}

/* SLIDER */
.grand-container-slider {
  background-image: url(../src/assets/photo1.jpg);
}
/* BANNER PAGIAN ABOUT */
.banner-img {
  background-image: url(../src/assets/photo2.jpg);
}
/* FONDO PAGINA SOLUCIONES */
.background-solution-img{
  background-image: url(../src/assets/imagen5.jpg);
}
/* OFRECEMOS */
.content-container{
  background-image: url(../src/assets/soladura.jpg)
}
/* CARDS2 HOMEPAGE */
.img-container1{
  background-image: url(../src/assets/photo1.jpg);
}
.img-container2{
  background-image: url(../src/assets/photo2.jpg);
}
.img-container3{
  background-image: url(../src/assets/photo3.jpg);
}
.icon__chess{
  fill: red;
}
.bg-light{
  background-color: #fcfcfc;
}
.bg-colored{
  background-color: #6a1b9a;
  /* background-color: #00bcd4; */
}
.text-yellow{
  color: #ffa600;
}
.text-pink{
  color: #e91e63;
}
.bg-light-danger{
  background-color: #fff4f6;
}
.bg-lightBlue{
  background-color: #f0f9ff;
}
.bg-lightSuccess{
  background-color: #f6fff7;
}
.bg-pink{
  background-color: #e91e63;
}
.bg-lightPink{
  background-color: #fff8fa;
}

.text-deepOrange{
  color: #ff5722;
}
.bg-deepOrange{
  background-color: #ff5722;
}
.bg-lightOrange{
  background-color: #fff6f3;
}
.text-purple{
  color: #9c27b0;
}
.bg-purple{
  background-color: #9c27b0;
}
.bg-lightPurple{
  background-color: #fef5ff;
}
.text-teal{
  color: #009688;
}.bg-teal{
  background-color: #009688;
}
.bg-lightTeal{
  background-color:  #f2fffe;
}
  /* CARDS DE SOLUCIONESk */
