@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,900&display=swap");

:root {
  --primario: #6a1b9a;
  --secondary: #00bcd4;
  --negro: #000000;
  --fuentePrincipal: "Nunito Sans", sans-serif;
  --fuenteLogo: "Nunito Sans", sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuentePrincipal);
  font-size: 1.4rem;
  line-height: 1.4;
  background-color: #f2f2f2;
  scroll-behavior: smooth;
  @media (min-width: 768px) {
    font-size: 1.6rem;
    line-height: 1.8;
  }
}
h1,
h2,
h3 {
  font-weight: 900;
  margin: 2rem 0;
}
h1 {
  font-size: 2rem;
  font-family: var(--fuenteLogo);
  color: var(--primario);
  font-weight: bold;
}
h2 {
  font-size: 2.3rem;
  @media (min-width: 768px) {
    font-size: 4.6rem;
  }
}
h3 {
  font-size: 2rem;
  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}
h4 {
  font-size: 1.8rem;
  font-weight: bold;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
ul {
  list-style: none;
}

/* //*GLOBAL UTILITIES */
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}
.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}
.justify-btw {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}
.justify-evn {
  justify-content: space-evenly;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.align-top {
  align-items: flex-start;
}
.text-center {
  text-align: center;
}
.bg-primario {
  background-color: var(--primario);
}
.bg-secundario {
  background-color: var(--secondary);
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
.m-0-auto {
  margin: 0 auto;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.text-primario {
  color: var(--primario);
}
.text-justify {
  text-align: justify;
}
.wdt-100 {
  width: 100%;
}
.hgt-100 {
  height: 100%;
}
.ovf-hidden {
  overflow: hidden;
}
.fst-italic {
  font-style: italic;
}
.obj-fit-cover {
  object-fit: cover;
}

/* SPECIFIC UTULITIES */
.flx-reverse {
  flex-direction: row-reverse;
}
.justify-arnd {
  justify-content: space-around;
}
.font-bold {
  font-weight: bold;
}
.bg-card{
  background-color: #607d8b;
}
.text-indigo{
  color: #3f51b5;
}
.text-start{
  text-align: start;
}

/* NAVBAR */
@media (max-width: 768px) {
  .scaled1 {
    transform: scaleX(1);
  }
  .scaled0 {
    transform: scaleX(0);
  }
}

/* SLIDER */
.grand-container-slider {
  background-image: url(../src/assets/photo1.jpg);
}
/* BANNER PAGIAN ABOUT */
.banner-img {
  background-image: url(../src/assets/photo2.jpg);
}
/* FONDO PAGINA SOLUCIONES */
.background-solution-img{
  background-image: url(../src/assets/imagen5.jpg);
}

/* CARDS2 HOMEPAGE */
.img-container1{
  background-image: url(../src/assets/photo1.jpg);
}
.img-container2{
  background-image: url(../src/assets/photo2.jpg);
}
.img-container3{
  background-image: url(../src/assets/photo3.jpg);
}
.icon__chess{
  fill: red;
}
/* CARDS DE SOLUCIONESk */
